@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #C08B5C;
    border-radius: 4px;
}
.active{
    background-color:#C08B5C;
    border-color: #C586A5;
}

